<!DOCTYPE html>
<html>
<head>
  <title>Google</title>
</head>
<body>
  <div class="header">
    <a href="#">Gmail</a>
    <a href="#">Images</a>
    <a href="#">Sign-In</a>
    <a href="#">Sign-Up</a>
  </div>
  <div class="search-box">
    <div class="title">
      <img class="picture" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
    </div>
    <div class="searching">
      <form action="/search" id="search-bar" method="get">
       <input class="searchy" type="search" name="searchbar" placeholder="Search Google">
      </form>
    </div>
    <div class="buttons">
      <button class="search-btn">
        <a href="#">Search</a>       
      </button>
      <button class="lucky-btn">
        <a href="#" target="_blank">Feeling Lucky</a>
      </button>
    </div>
  </div>
  <div>
  <div class="footer-left">
    <a href="#" >Advertising</a>
    <a href="#">Business</a>
    <a href="#">About</a>
  </div>
  <div class="footer-right">
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Settings</a>

  </div>
  </div>
</body>
</html>